{% extends "base.html" %}

{% block content %}
<div class="form-container">
    <h2>Login to Your Account</h2>
    <form method="POST" autocomplete="off">
        <!-- College ID -->
        <div class="input-wrapper">
            <input type="text" name="college_id" placeholder="College ID" required autocomplete="nope">
        </div>

        <!-- Password with eye icon -->
        <div class="input-wrapper">
            <input type="password" name="password" id="login-password" placeholder="Password" required autocomplete="new-password">
            <i id="login-icon" class="fa-solid fa-eye" onclick="togglePassword('login-password', 'login-icon')"></i>
        </div>

        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/register">Register</a></p>
    <p><a href="{{ url_for('forgot_password') }}">Forgot Password?</a></p>

</div>

<script>
    function togglePassword(inputId, iconId) {
        const input = document.getElementById(inputId);
        const icon = document.getElementById(iconId);
        if (input.type === "password") {
            input.type = "text";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        } else {
            input.type = "password";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        }
    }
</script>
{% endblock %}
